
.logo{
    width: 50%;
    background-image: url("bg.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    color: rgb(27, 181, 220);
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 300px 0px 360px;
    border-radius: 30px;
}
form{
    margin: 25px 50px 50px 50px;
    padding: 20px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}
form > .searchBar
{
    margin: 0 0 0 160px;
    padding: 20px 0 0 30px;
    width: 70%;
    border-radius: 30px;
}
form > #sub{
    margin: 0 0 0 550px;
    background-color: #ddd;
     /* color: blue;  */
    font-family: serif; 
    width: 200px;
    height: 50px; 
    border: none;
    display: inline-block;
     border-radius: 70px; 
    /*border-width: 2px;  */
    overflow: hidden;
}
form > #sub:hover
{
    background-color: #555;
    color: white;

}
ul {
    margin: 0 0 0 1300px;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 140px;
    background-color: #f1f1f1;
}

li a {
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0 40px 25px;
    display: block;
    color: #000;
    width: 200px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}
